---
import Git from "@/icons/git.astro";
import Arrow from "@/icons/Arrow.astro";
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section className={Astro.props.className} title="Projects">
	<div class="grid grid-cols-1 gap-3 print:flex print:flex-col">
		{
			projects.map(({ url, description, highlights, name, isActive, github }) => {
				return (
					<div role="contentinfo" class="relative flex flex-col rounded-md bg-indigo-900/20 dark:bg-indigo-500/10 p-5 shadow-sm ring-1 ring-indigo-400/50 dark:ring-indigo-300/50">
						<div class="flex items-center justify-between space-x-[10px]">
							<div class="flex items-center gap-2">
								<svg 
									class="h-4 w-4 min-w-4"
									viewBox="0 0 24 24" 
									fill="none" 
									stroke="currentColor" 
									stroke-width="2"
								>
									<path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z" />
								</svg>
								<div class="flex items-center gap-[6px]">
									<a 
										class="text-indigo-300 hover:text-indigo-200 group flex items-center gap-[6px] text-lg font-semibold decoration-dotted underline-offset-[5px] hover:underline" 
										href={url.startsWith('http') ? url : github} 
										title={`View ${name} ${url.startsWith('http') ? 'website' : 'on GitHub'}`} 
										target="_blank"
									>
										{name}
										<span class="text-indigo-300 transition ease-linear group-hover:-translate-y-0.5 group-hover:translate-x-0.5">
											<Arrow />
										</span>
									</a>
								</div>
							</div>
						</div>

						<p class="py-3 text-sm text-skin-base">{description}</p>
						<ul class="mt-1 text-sm text-skin-muted">
							{highlights.map((highlight) => (
								<li>{highlight}</li>
							))}
						</ul>
					</div>
				);
			})
		}
	</div>
</Section>

<style>
	ul {
		@apply ml-4 list-disc space-y-1;
		li {
			@apply text-skin-muted;
		}
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		font-size: 0.6rem;
	}

	footer span {
		border-radius: 6px;
		background: #eee;
		color: #444;
		font-size: 0.6rem;
		font-weight: 500;
		padding: 0.2rem 0.6rem;
	}
	@keyframes flicker {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.25;
		}
		100% {
			opacity: 1;
		}
	}
</style>
